@charset "UTF-8";
body {
  padding: 2mm 5mm 0px 5mm;
  color: #000000;
  font-size: 12pt;
  margin: 0mm auto 0px auto;
  font-family: "a-otf-ryumin-pr6n" ,"游明朝体" ,"YuMincho" ,"Hiragino Mincho ProN" ,"Noto Serif" ,"Takao P明朝" ,"TakaoPMincho" ,"MS P Mincho" , serif;
  max-width: 20cm;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #fcfaf2;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(46, 169, 223, 0.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(46, 169, 223, 0.3) 99%);
  background-size: 4cm 4cm;
  background-position: 0 0, 2cm 2cm;
  background-attachment: fixed; }

main {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2); }

div#content {
  padding: 10px 20px 20px 20px; }

div#content ul li {
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative; }

div#content ul li.post {
  position: relative;
  text-decoration: none; }

div#content ul li.post:hover::after {
  width: 100%;
  background-color: #515659; }

div#content ul li.post::after {
  transition: all 0.25s ease-in-out 0.0s;
  display: block;
  content: "";
  margin-top: 0.5mm;
  height: 0.5mm;
  background-color: transparent;
  width: 0%; }

div ul {
  padding-left: 20px; }

div#header {
  border-bottom: solid 1px #000000;
  margin-bottom: 30px;
  padding: 12px 20px 12px 20px; }

div#header #navigation {
  text-align: right; }

div#header #navigation a {
  color: #000000;
  font-size: 14pt;
  font-weight: lighter;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "a-otf-ryumin-pr6n","游明朝体","YuMincho","Hiragino Mincho ProN","Noto Serif","Takao P明朝","TakaoPMincho","MS P Mincho", serif; }

div#logo a {
  color: #000000;
  float: left;
  font-size: 20pt;
  font-weight: lighter;
  text-decoration: none; }

div#footer {
  padding: 12px 0px 12px 0px;
  margin-top: 30px;
  border-top: solid 1px #000000;
  color: #555555;
  font-size: 9pt;
  text-align: left; }

div#footer p {
  margin-top: 0px;
  margin-bottom: 0px; }

div.info {
  color: #555555;
  font-size: 14px;
  font-style: italic; }

a {
  text-decoration: none; }

a:visited {
  color: #cc543a; }

a:link {
  color: #00aeb9; }

h1,
h2,
h3 {
  text-shadow: 1px 1px 0.5px #c8c8c8;
  font-weight: 400; }

h1 {
  font-size: 24pt; }

h2 {
  font-size: 20pt; }
