@charset "UTF-8";
div#header {
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 30px;
  padding: 12px 20px 12px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1); }

div#header #navigation {
  text-align: right; }

div#header #navigation a {
  color: #000000;
  font-size: 14pt;
  font-weight: lighter;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "a-otf-ryumin-pr6n","游明朝体","YuMincho","Hiragino Mincho ProN","Noto Serif","Takao P明朝","TakaoPMincho","MS P Mincho", serif; }

div#logo a {
  color: #000000;
  float: left;
  font-size: 14pt;
  font-weight: lighter;
  text-decoration: none; }
